DB_USER = "avnadmin"
DB_PASS = "AVNS_DkhWC-J-YCF59Zbdx7x"
DB_HOST = "pg-43a08aa-gutierrez-dbb2.c.aivencloud.com"
DB_PORT = 28684
DB_NAME = "REST-API"
CA_DB = "-----BEGIN CERTIFICATE-----
MIIERDCCAqygAwIBAgIUaVsKrMGHnDSuonn07EHSZc60tWcwDQYJKoZIhvcNAQEM
BQAwOjE4MDYGA1UEAwwvZjgxNGE0MjgtZDJmNC00OGM0LTg2MWQtZjc5NTZkMjAw
ODMwIFByb2plY3QgQ0EwHhcNMjYwMjI0MjM0MTI0WhcNMzYwMjIyMjM0MTI0WjA6
MTgwNgYDVQQDDC9mODE0YTQyOC1kMmY0LTQ4YzQtODYxZC1mNzk1NmQyMDA4MzAg
UHJvamVjdCBDQTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCCAYoCggGBALdFXh4K
Qy0GeVQoHl2jX9QMDeH+jJJ2XtYEpRmYIiQWCRqBiNvfDWONnwxnXOdqoZ1kGwW3
3cS0aNsVpvdKzMyA1sBc/CxAlMKEDH//iHvoSyQPRGqmLPkzZFzZCxzzr8GMR+CV
sreOI/rLtWAWwnQ5UoUtqyMDueMm6+Up7KLNqphvpxIgEu/+tMy0BqYynjt+wxyM
add1/7CiysTo2M9Aw00sKxZLOkGh9Ll6PT+L/p11pKPc8RZ9QVUcAiLiuKx06ptt
26UMelCVDe/u6g5N0epp8Q8/lSw6JdkSD77DHsMUrRuV1hCscoS8Cf4dr+4V/EWe
C5oVtFqDnrq0Q7bH4guF/iRGzao4CilFD+WxDzOyEclHajJRfwUvzsxKWhccjdr/
8uK7aTJ506dnyb3sKeSvuoNrWFTH2AE9SP/8R97D1wM3r2GW+LEY+MWHrNl2Di4d
vDk+cEQXhGMo6ZDC/pLPZEzhJVdNcO2kRjNi8iuX/kLEPJb1CRg2HfQraQIDAQAB
o0IwQDAdBgNVHQ4EFgQUs6azRUb9VUxFHswoDIiPUCa/G7gwEgYDVR0TAQH/BAgw
BgEB/wIBADALBgNVHQ8EBAMCAQYwDQYJKoZIhvcNAQEMBQADggGBAI8YgF37g1F7
oOIcdjQqv1EXfWjBJeZXe8GL+1LiLZVlIh4q8u7EvcXvjs4wZ6xeBnEn79r4qi17
VO4HhVrVoWoxZiqaxSagzSEbdcjf+Yht0pKdlvC3zP2/+p7aAbWqChKxqLL8v4eu
wEFzDRfm+pznWEmwJXa6FjoSUA2+mVfsc/4mvPwhVq49LcSeOVz/qe7XtiSrIs7J
xNYJHJguL6uf9Gn8RPAsyMkeMQj6QHJM4vEoHlI1QlVG+v5nD97n7XUnm9Tp3t3N
P4XGc8c311erbhIcbRDQJX555V9bCyO6cLo52K8YUbI7EcinroPWYHg58ktxLa9f
NOY7GWaWXEHLuaK3esV4Y299Cl+XoR11A29xAg/ENj+z62vi7akVtz7k72byi5+8
En2zHlSc/d1A+K4PpzJsHL98ZlLhif/oMj6SBsxwOpseXKdjz27vGDCB0gZPAZ9B
ya8X1efe3uNM1N26uTJPALPSnnJxKJocBymWnBdxj35r8OSeHGALhQ==
-----END CERTIFICATE-----"